[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pre-commit = "*"
autopep8 = "*"
pycodestyle = "*"

[packages]
diagrams = "*"
scour = "*"

[requires]
python_version = "3.8"

[scripts]
dev-setup = "pre-commit install"
format = "autopep8 --in-place"